---
import MainApp from "@Apps/MainApp";
import Layout from "@Layouts/Layout.astro";
---

<Layout title="Template" description="Template">
	<section class="mobile-stories w-full min-h-screen max-h-screen mx-auto d-flex f-center">
		<MainApp client:only="react" />
	</section>
	<div class="my-5 f-col g-3 px-3">
		<p>wasa</p>
		<p>wasa</p>
		<p>wasa</p>
		<p>wasa</p>
	</div>
</Layout>
