@theme {
  --color-lifo-bg: #fff;
  --color-lifo-bg-secondary: #f5f5f5;
  --color-lifo-border: #e1dfdf;
  --color-lifo-bg-third: #f5f5f5;

  --color-lifo-title: #000;
  --color-lifo-text: #000;
}

.dark{
  --color-lifo-bg: #000;
  --color-lifo-bg-secondary: #101010;
  --color-lifo-border: #555555;
  --color-lifo-bg-third: rgb(39, 39, 40);

  --color-lifo-title: #fff;
  --color-lifo-text: #b3b3b3;

}
